ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
li{
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
}
.flex1 {
    order:1;
    flex-basis: 100%;
    border: 3px dotted pink;
}